<div class="content">
    <div id="courtesy">
        <h1>Sito chiuso</h1>
        <img class="thumbnail" src="/images/davinci.jpg" />
        <div class="notes">Leonardo Da Vinci - Macchina volante</div>
    </div>
</div>
