<div class="content">
    <div id="courtesy">
        <h1>Under construction</h1>
        <img class="thumbnail" src="/images/babbage.jpg" />
        <div class="notes">Charles Babbage - Difference engine</div>
    </div>
</div>
