#features header.chapters {
    padding-bottom: 2.5em;
}
header.chapters {
    padding-top: 0em;
}
header.chapters a {
    text-decoration: none;
}
a.active-chapter {
    font-weight: bold;
}
.feature-list h3 {
    margin: 0;
}
.active-tab
{
    font-weight: bold;
}
#nav > ul > .active-tab > a
{
    color: #fff;
}
#download-wrapper {
    background: url("images/overlay.png") repeat scroll 0 0 #282B34;
    color: rgba(255, 255, 255, 0.5);
}
.download-book {
    padding: 0 6em;
}
