<!DOCTYPE HTML>
<!--
	Escape Velocity 2.5 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Valerius Demoire, romanzo steampunk - [% page_title %]</title>
		<meta http-equiv="content-type" content="text/html; charset=[% settings.charset %]" />
		<meta name="description" content="[% page_description %]" />
		<meta name="keywords" content="valerius, demoire, steampunk, guerra, romanzo, fantascienza, robot, giganti di ferro, myrmidon, Francia, Inghilterra, Germania, Spagna, Italia, vapore, magia, avventura, spada, puntate, capitoli" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900" rel="stylesheet" />
		<!--[if lte IE 8]><script src="[% request.uri_base %]/js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/config.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-panels.min.js"></script>
        <link rel="stylesheet" href="/css/escape-custom.css" />
		<noscript>
			<link rel="stylesheet" href="/css/skel-noscript.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
		</noscript>
        <meta property="og:url" content="http://www.valeriusdemoire.it" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Valerius Demoire"/>
        <meta itemprop="name" content="Valerius Demoire"/>
        [% IF canonical %]<link rel="canonical" href="[% canonical %]"/>[%  END %]
	</head>
    <body class="[% body_class || 'homepage' %]">
        <div id="fb-root"></div>
        <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>

		<!-- Header Wrapper -->
			<div id="header-wrapper" class="wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<div id="header">
									
									<!-- Logo -->
										<div id="logo">
											<h1><a href="#">Valerius Demoire</a></h1>
											<span class="byline">Cronache della seconda guerra del Vapore</span>
                                            <div class="share" style="height: 1em;font: 18px Arial,sans-serif;color:#FFF"></div><fb:like href="https://www.facebook.com/valeriudemoire" send="false" layout="button_count" width="450" show_faces="false"></fb:like>
										</div>
									<!-- /Logo -->
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
                                                <li [% IF nav_page == 'home' %]class="active-tab"[% END %]><a href="/">Home</a></li>
												<li>
                                                    <a href="/romanzo"><span [% IF nav_page == 'chapters' %]class="active-tab"[% END %]>Capitoli</span></a>
													<ul>
														<li><a href="/romanzo/primo-capitolo">Leggi dall'inizio</a></li>
														<li><a href="/romanzo/ultimo-capitolo">Ultimo capitolo</a></li>
													</ul>
												</li>
												<li [% IF nav_page == 'characters' %]class="active-tab"[% END %]><a href="/personaggi">Personaggi</a></li>
												<li [% IF nav_page == 'author' %]class="active-tab"[% END %]><a href="/autore">Autore</a></li>
                                                <li>
                                                </li>
											</ul>
										</nav>
									<!-- /Nav -->

								</div>
							<!-- /Header -->

						</div>
					</div>
				</div>
			</div>
		<!-- /Header Wrapper -->
        [% content %]		


		<!-- Footer Wrapper -->
			<div id="footer-wrapper" class="wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<span>
                                        &copy; Simone Far&egrave; - Design by <a href="http://html5up.net/">HTML5 UP</a> - Site powered by <a href="http://search.cpan.org/dist/Strehler/">Strehler</a>/<a href="http://perldancer.org">Dancer2</a>.
									</span>
								</div>
							<!-- /Copyright -->
						
						</div>
					</div>
				</div>
			</div>
		<!-- /Footer Wrapper -->

	</body>
</html>
