<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Valerius Demoire, romanzo steampunk - [% page_title %]</title>
<meta name="description" content="[% page_description %]" />
<meta name="keywords" content="valerius, demoire, steampunk, guerra, romanzo, fantascienza, robot, giganti di ferro, myrmidon, Francia, Inghilterra, Germania, Spagna, Italia, vapore, magia, avventura, spada, puntate, capitoli" />

<link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/valerius.css" />
<link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap-responsive.css" />
[% IF canonical %]<link rel="canonical" href="[% canonical %]"/>[%  END %]
<script src="http://code.jquery.com/jquery.js"></script>
<script src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js"></script>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script-->

</head>
<body>
<div id="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="span1">
                <a href="/"><img src="/images/logo.png" class="brand" /></a>
            </div>
            <ul class="nav">
                <li class="span2 hidden-phone"><a href="/romanzo">Romanzo</a></li>
                <li class="span2 hidden-phone"><a href="/personaggi">Personaggi</a></li>
                <li class="span2 hidden-phone"><a href="/timeline">Timeline</a></li>
                <li class="span2 hidden-phone"><a href="/autore">Autore</a></li>
                <li class="span2 visible-phone"><a href="/romanzo/ultimo-capitolo">Ultimo capitolo</a></li>
                <li class="span2 visible-phone"><a href="/romanzo/primo-capitolo">Primo capitolo</a></li>
            </ul>
        </div>
    </div>
</div>
[% content %]
<div class="navbar visible-phone">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="span2"><a href="/romanzo">Romanzo</a></li>
            <li class="span2"><a href="/personaggi">Personaggi</a></li>
            <li class="span2"><a href="/timeline">Timeline</a></li>
            <li class="span2"><a href="/autore">Autore</a></li>
        </ul>
    </div>
</div>

<div id="footer">
    <p>
    Powered by <a href="http://perldancer.org/">Dancer2</a> [% dancer_version %]
    </p>
</div>
[% IF google_monitor %]
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43433926-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
[% END %]
</body>
</html>
